
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
  <section *ngIf="brandDetails"  class="w-75 mx-auto p-3 bg-main-light rounded shadow m-2">
    <div class="row g-4 align-items-center " >
        
        <div class="col-md-6 text-center">
            <h2 class="text-main fa-2x fs-bold">{{brandDetails.name}}</h2>
            <p>{{brandDetails.slug}}</p>
        </div>
        <div class="col-md-6">
            <img height="500" class="w-100" [src]="brandDetails.image" [alt]="brandDetails.name">
        </div>
    </div>
    
</section>

  
