<section class="shadow bg-main-light p-3 w-75 mx-auto mb-3" *ngIf="cartDetails ;else msg">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h2">Shop Cart</h1>
        <button (click)="removeCart()" class="" class="btn btn-outline-danger btn-sm">Clear Cart</button>
    </div>
    <p class="text-main">Total Price:{{cartDetails.totalCartPrice |currency:" EGP"}} </p>

    <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11">
            <div class=" d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="h6">{{item.product.title}}</h3>
                    <p class="m-0 text-main small">Price: {{item.price |currency:' EGP ' }}</p>
                    <button #btnRemove (click)="romoveItem(item.product._id  , btnRemove)" class="m-0 p-0 text-main btn">
                        <i class="fas fa-trash-can"></i>
                         Remove</button>
                </div>
                <div>
                    <button  #btn1 (click)="updateCount(item.count + 1 , item.product._id , btn1 , btn2)" class="btn btn-sm border-success mx-1"> + </button>
                    <span>{{item.count}}</span>
                    <button #btn2  (click)="updateCount(item.count - 1 , item.product._id , btn1 , btn2)" class="btn btn-sm border-success mx-1"> - </button>
                </div>




            </div>
        </div>

    </div>


<button (click)=" goToPay(cartDetails._id)" class="main-btn mt-3">Online Payment <img src="./assets/images/master.svg" alt="visa logo"></button>
</section>
<ng-template #msg>
    <h2 class="text-center">Your Cart is Empty.....</h2>
</ng-template>